Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.

Excepted Output Data Attributes
● Name of Earth Meteorite - string id - ID of Earth
● Meteorite - int nametype - string recclass - string
● mass - Mass of Earth Meteorite - float year - Year at which Earth
● Meteorite was hit - datetime format reclat - float recclong - float
● point coordinates - list of int

In [1]:
#Getting data from link
import requests
url='https://data.nasa.gov/resource/y77d-th95.json'
fn=requests.get(url)

In [2]:
#Writing into a file
sec=open('second.json','wb')
sec.write(fn.content)

245975

In [3]:
#Read in dataframe
import pandas as pd
df=pd.read_json('second.json')

In [4]:
df.head(5)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN

In [5]:
df.loc[:1,:]

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN

In [6]:
df.dtypes

name                            object
id                               int64
nametype                        object
recclass                        object
mass                           float64
fall                            object
year                            object
reclat                         float64
reclong                        float64
geolocation                     object
:@computed_region_cbhk_fwbd    float64
:@computed_region_nnqa_25f4    float64
dtype: object

In [7]:
df.shape

(1000, 12)

In [8]:
type(df['geolocation'][0])

dict

In [9]:
# In columns , the "geoloaction is in the form of dictionary and need to convert it"
n_df=df['geolocation'].apply(pd.Series)

In [10]:
n_df.dtypes

type            object
coordinates     object
0              float64
dtype: object

In [11]:
#so dropping geoloaction column and adding newly craeted columns

In [12]:
df.drop([':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4','geolocation'],axis=1,inplace=True)

In [13]:
n_df['type']

0      Point
1      Point
2      Point
3      Point
4      Point
       ...
995    Point
996    Point
997    Point
998    Point
999    Point
Name: type, Length: 1000, dtype: object

In [14]:
df.shape

(1000, 9)

In [15]:
df['type']=n_df['type']

In [16]:
df.shape

(1000, 10)

In [17]:
df['coordinates']=n_df['coordinates']

In [18]:
df.dtypes

name            object
id               int64
nametype        object
recclass        object
mass           float64
fall            object
year            object
reclat         float64
reclong        float64
type            object
coordinates     object
dtype: object

In [19]:
df['coordinates'] #list of coordinates

0          [6.08333, 50.775]
1       [10.23333, 56.18333]
2           [-113, 54.21667]
3          [-99.9, 16.88333]
4        [-64.95, -33.16667]
               ...
995     [79.41667, 13.63333]
996     [-7.61123, 29.48195]
997    [111.53333, -7.08333]
998    [106.58333, -6.66667]
999        [34.76667, 47.85]
Name: coordinates, Length: 1000, dtype: object

In [20]:
df.shape

(1000, 11)

In [21]:
df.dtypes

name            object
id               int64
nametype        object
recclass        object
mass           float64
fall            object
year            object
reclat         float64
reclong        float64
type            object
coordinates     object
dtype: object

In [90]:
df.to_csv('question4.csv')